* {
    box-sizing: border-box;
}

body {
    background-color: rgb(203, 203, 204);
    align-items: center;
    margin: 0 auto;
    width: 60%;
}

main {
    margin: 0 auto;
    margin-top: 35px;
    background-color: rgb(97, 100, 102);
    display: flex;
    max-width: 500px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 10px 10px 5px 0px rgb(161, 161, 160);
    border: 30px solid rgb(231, 229, 229);
}

footer {
    margin: 0 auto;
    background-color: rgb(97, 100, 102);
    display: flex;
    max-width: 500px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 10px 10px 5px 0px rgb(161, 161, 160);
    border: 30px solid rgb(231, 229, 229);
}

ul li {
    width: 260px;
    padding: 10px 10px 10px 20px;
    background: rgb(204, 202, 202);
    list-style-type: none;
    border: darkgray;
    margin-right: 30px;
}

ul li:hover {
    background: rgb(73, 72, 72);
}

ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '\f096';
    border-color: #fff;
    border-style: solid;
    left: 15px;
    margin-right: 5px;
    font-size: 22px;
    line-height: 1;
    width: 1em;
    display: inline-block
}

ul li.checked::after {
    content: normal;
    text-decoration-color: rgb(51, 50, 51);
}

input[type="checkbox"] {
    display: none;
}